/*--------------------------------------------------------------
# Keyframes
--------------------------------------------------------------*/
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
:root {
    --msger-top: 50%;
    --msger-left: 50%;
    --msger-height: 680px;
    --msger-width: 420px;
    --msger-bg: #16171b;
    --left-msg-bg: #222328;
    --right-msg-bg: #0a0b0c;
    --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
* {
    outline: none;
    font-family: 'Verdana';
}
body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*--------------------------------------------------------------
# Control buttons
--------------------------------------------------------------*/
#control {
    z-index: 1;
    position: fixed;
    padding: 10px;
    top: 0;
    width: 100%;
    background: black;
}
#control button {
    border-radius: 5px;
}
#control p {
    font-size: small;
    cursor: default;
}

#exitButton:hover {
    color: red;
}

/*--------------------------------------------------------------
# Room QR
--------------------------------------------------------------*/
#qrRoomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------------------------
# My settings
--------------------------------------------------------------*/

#mySettings {
    z-index: 6;
    position: absolute;
    margin: auto;
    padding: 10px;
    width: 50%;
    min-height: 480px;
    background: var(--settings-bg);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mySettingsMain {
    display: flex;
}

@media screen and (max-width: 1030px) {
    #mySettings {
        width: 75%;
    }
}

@media screen and (max-width: 830px) {
    #mySettings {
        width: 80%;
        min-height: auto;
    }
    .mySettingsMain {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    #mySettings {
        width: 90%;
    }
}

#mySettingsHeader {
    height: 25px;
    cursor: move;
}

#mySettings i,
#mySettings p {
    display: inline-flex;
    margin: auto;
    color: #fff;
    padding: 5px;
    background: transparent;
}

#mySettings select {
    margin-top: 1rem;
    width: auto;
    max-width: 310px;
    height: 40px;
    color: #fff;
    background-color: var(--select-bg) !important;
    border: var(--border);
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}

#mySettingsCloseBtn {
    /* top right bottom left */
    /* margin: 10px 0px 0px 10px; */
    font-size: 1.4rem;
    float: right;
}

#mySettings button {
    border-radius: 5px;
}

#myProfileAvatar {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.form-check-input {
    cursor: pointer;
}

.title {
    display: inline-flex;
    justify-content: center; /* Vertical centering */
    align-items: center; /* Horizontal centering */
    text-align: left;
    color: white;
}

.inline-check-box {
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: center; /* Vertical centering */
    align-items: center; /* Horizontal centering */
    text-align: left;
    color: white;
}

#recordingImage {
    width: 128px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 30px;
    cursor: pointer;
}

#recordingImage:hover {
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.2);
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}

#refreshVideoDevices,
#refreshAudioDevices {
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: var(--border-radius);
}

#refreshVideoDevices:hover,
#refreshAudioDevices:hover {
    background: var(--body-bg);
}

/*--------------------------------------------------------------
# Settings Table
--------------------------------------------------------------*/

.settingsTable {
    width: 100%;
    color: #fff;
    table-layout: fixed;
    border-collapse: collapse;
    border-style: hidden;
}
.settingsTable td,
th {
    text-align: left;
    padding: 5px;
    /* border: 1px solid grey; */
}
.settingsTable tr:nth-child(even) {
    /* background-color: #121212; */
}
.settingsTable i {
    border: none;
    border-radius: 5px;
}
.custom-width {
    width: 140px;
}
.width-150 {
    width: 150px;
}
.width-180 {
    width: 180px;
}

.microphone-table-width {
    width: 180px;
}
/*--------------------------------------------------------------
# Dropdown menu
--------------------------------------------------------------*/

.dropdown-menu {
    background: var(--body-bg);
}

.dropdown-menu button:hover {
    background-color: var(--body-bg);
    color: white;
    transform: scale(1);
}

.dropdown-menu li:hover {
    background: var(--btns-bg-color);
}

/* Hide the default Bootstrap dropdown icon */
.dropdown-toggle::after {
    display: none !important;
}

/*--------------------------------------------------------------
# Style the tab
--------------------------------------------------------------*/

.settingsTable {
    width: 100%;
    color: #fff;
    table-layout: fixed;
    border-collapse: collapse;
    border-style: hidden;
}
.settingsTable td,
th {
    text-align: left;
    padding: 5px;
    /* border: 1px solid grey; */
}
.settingsTable tr:nth-child(even) {
    /* background-color: #121212; */
}
.settingsTable i {
    border: none;
    border-radius: 5px;
}
.custom-width {
    width: 140px;
}
.width-150 {
    width: 150px;
}
.width-180 {
    width: 180px;
}

.microphone-table-width {
    width: 180px;
}

/*--------------------------------------------------------------
# Dropdown menu
--------------------------------------------------------------*/

.dropdown-menu {
    background: var(--body-bg);
}

.dropdown-menu button:hover {
    background-color: var(--body-bg);
    color: white;
    transform: scale(1);
}

.dropdown-menu li:hover {
    background: var(--btns-bg-color);
}

/* Hide the default Bootstrap dropdown icon */
.dropdown-toggle::after {
    display: none !important;
}

/*--------------------------------------------------------------
# Style the tab
--------------------------------------------------------------*/

.tab {
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    width: 35%;
    background-color: var(--body-bg);
    min-height: 480px;
    display: flex;
    flex-direction: column;
    border-right: var(--border);
}

.tabActions {
    position: relative;
    width: 65%;
    background-color: var(--body-bg);
    min-height: 480px;
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 830px) {
    .tab {
        width: 100%;
        min-height: auto;
        flex-direction: row;
        border-right: none !important;
    }
    .tabActions {
        width: 100%;
        border-radius: 10px;
    }
    .tabButtonText {
        display: none !important;
    }
}

@media screen and (max-width: 540px) {
    .tab {
        display: inline;
    }
}

/* Style the buttons inside the tab */
.tab button {
    margin: 3px;
    padding: 11px;
    float: left;
    text-align: left;
    color: #fff;
    border: var(--border);
    background-color: rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: transparent;
    transform: scale(0.95);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--tab-btn-active);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent button i {
    padding: 10px;
    border: var(--border);
    border-radius: 5px;
}

.tabcontent button {
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

.tabcontent button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: scale(1);
}

/* on open display devices tab */
#tabRoom {
    display: block;
}

.mod-title {
    margin-top: 5px;
    color: grey;
}


/*--------------------------------------------------------------
# Settings - data time picker
--------------------------------------------------------------*/

#datetimePicker {
    padding: 10px;
    text-align: center;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
}

/*--------------------------------------------------------------
# Settings - dynamic colors picker
--------------------------------------------------------------*/

.theme-color-picker {
    padding: 10px;
    width: 120px;
    border: var(--border);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*--------------------------------------------------------------
# Settings - microphone volume indicator
--------------------------------------------------------------*/

.volume-container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--body-bg);
    border-radius: 8px;
}

.volume-bar {
    flex: 1;
    height: 5px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.active {
    background-color: #3498db;
}

.inactive {
    background-color: #ddd;
}

/*--------------------------------------------------------------
# Settings Room Lobby
--------------------------------------------------------------*/

#lobby {
    display: none;
}
