/*--------------------------------------------------------------
# Keyframes
--------------------------------------------------------------*/
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
:root {
    --msger-top: 50%;
    --msger-left: 50%;
    --msger-height: 680px;
    --msger-width: 420px;
    --msger-bg: #16171b;
    --left-msg-bg: #222328;
    --right-msg-bg: #0a0b0c;
    --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
* {
    outline: none;
    font-family: 'Verdana';
}
body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*--------------------------------------------------------------
# Control buttons
--------------------------------------------------------------*/
#control {
    z-index: 1;
    position: fixed;
    padding: 10px;
    top: 0;
    width: 100%;
    background: black;
}
#control button {
    border-radius: 5px;
}
#control p {
    font-size: small;
    cursor: default;
}

#exitButton:hover {
    color: red;
}

/*--------------------------------------------------------------
# Room QR
--------------------------------------------------------------*/
#qrRoomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------------------------
# My settings
--------------------------------------------------------------*/

#mySettings {
    z-index: 6;
    position: absolute;
    margin: auto;
    padding: 10px;
    width: 50%;
    min-height: 480px;
    background: var(--settings-bg);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mySettingsMain {
    display: flex;
}

@media screen and (max-width: 1030px) {
    #mySettings {
        width: 75%;
    }
}

@media screen and (max-width: 830px) {
    #mySettings {
        width: 80%;
        min-height: auto;
    }
    .mySettingsMain {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    #mySettings {
        width: 90%;
    }
}

#mySettingsHeader {
    height: 25px;
    cursor: move;
}

#mySettings i,
#mySettings p {
    display: inline-flex;
    margin: auto;
    color: #fff;
    padding: 5px;
    background: transparent;
}

#mySettings select {
    margin-top: 1rem;
    width: auto;
    max-width: 310px;
    height: 40px;
    color: #fff;
    background-color: var(--select-bg) !important;
    border: var(--border);
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}

#mySettingsCloseBtn {
    /* top right bottom left */
    /* margin: 10px 0px 0px 10px; */
    font-size: 1.4rem;
    float: right;
}

#mySettings button {
    border-radius: 5px;
}

#myProfileAvatar {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.form-check-input {
    cursor: pointer;
}

.title {
    display: inline-flex;
    justify-content: center; /* Vertical centering */
    align-items: center; /* Horizontal centering */
    text-align: left;
    color: white;
}

.inline-check-box {
    margin-bottom: 20px;
    display: inline-flex;
    justify-content: center; /* Vertical centering */
    align-items: center; /* Horizontal centering */
    text-align: left;
    color: white;
}

#recordingImage {
    width: 128px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 30px;
    cursor: pointer;
}

#recordingImage:hover {
    box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.2);
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
}

#refreshVideoDevices,
#refreshAudioDevices {
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: var(--border-radius);
}

#refreshVideoDevices:hover,
#refreshAudioDevices:hover {
    background: var(--body-bg);
}
